/*======================================================================================================================


FONTS


======================================================================================================================*/
@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"), url("../fonts/AvenirNextLTPro-Demi.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"), url("../fonts/AvenirNextLTPro-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Next LT Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Italic"), url("../fonts/AvenirNextLTPro-It.woff") format("woff"); }
/*======================================================================================================================


GENERAL


======================================================================================================================*/
*, :after, :before {
  box-sizing: border-box; }

html, body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
  color: #00a8c6;
  -webkit-tap-highlight-color: #1F2D3D; }

a {
  color: #00a8c6;
  text-decoration: none; }
  a:hover, a:focus, a:visited {
    text-decoration: underline;
    color: #003D51;
    outline: none; }
  a:visited {
    color: #F98D29; }

sup {
  top: -0.5em;
  left: .5px;
  font-size: 60%; }

.no-scroll {
  overflow: hidden;
  height: 100vh; }

.img-responsive img {
  width: 100%; }

.row:after {
  display: inline-block; }

.gp-btn {
  font-family: 'Avenir Next LT Pro Demi';
  text-transform: uppercase;
  position: relative;
  clear: both; }
  .gp-btn a {
    color: #fff;
    background-color: #F98D29;
    display: inline-block;
    line-height: 75px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
    .gp-btn a:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      margin-left: 25px;
      border-top: 75px solid #F98D29;
      border-right: 50px solid transparent;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s; }
    .gp-btn a:hover {
      background-color: #77BC1F; }
      .gp-btn a:hover:after {
        border-top: 75px solid #77BC1F; }

form {
  width: 100%;
  max-width: 600px;
  display: table; }
  form label {
    width: 100px;
    float: left;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 12px;
    color: #3C4858;
    height: 28px;
    position: relative; }
    form label:after {
      content: '';
      position: absolute;
      left: 100px;
      top: 0;
      width: 0;
      height: 0;
      border-top: 10px solid #fff;
      border-right: 10px solid transparent; }
  form input, form textarea {
    width: calc(100% - 100px);
    float: left;
    margin-top: 10px;
    border: 0;
    box-shadow: inset 0 0 0 1px transparent;
    background-color: #EFF2F7;
    padding: 10px 10px;
    outline: none;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s; }
    form input:focus, form textarea:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 1px #b0d23e; }
  form input[type="checkbox"] {
    width: 25px;
    outline: none; }
    form input[type="checkbox"]:focus {
      background-color: #fff;
      box-shadow: none; }
  form input[type="checkbox"] + label {
    width: calc(100% - 25px);
    font-family: 'Avenir Next LT Pro Regular';
    text-transform: uppercase; }
    form input[type="checkbox"] + label:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border: 0; }
  form input[type="submit"], form button {
    font-family: 'Avenir Next LT Pro Regular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    padding: 12px 50px 7px 25px;
    width: auto;
    background-color: #F98D29;
    background-image: url(../img/paper-plane.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 80% center;
    border: 0;
    box-shadow: inset 0 0 0 0 transparent;
    outline: none;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s; }
    form input[type="submit"]:hover, form button:hover {
      background-color: #77BC1F; }

::-webkit-input-placeholder {
  color: #8492A6;
  font-style: italic;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s; }

:focus::-webkit-input-placeholder {
  color: #D3DCE6; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next LT Pro Bold', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 8px; }

h1 {
  font-size: 36px;
  margin-bottom: 22px;
  -webkit-font-smoothing: antialiased; }

h2 {
  font-size: 30px;
  margin-bottom: 16px;
  -webkit-font-smoothing: antialiased; }

h3 {
  font-size: 24px;
  margin-bottom: 12px;
  -webkit-font-smoothing: antialiased; }

h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: .5px; }

h5 {
  font-size: 14px;
  text-transform: uppercase; }

h6 {
  font-size: 12px; }

p {
  font-size: 16px;
  color: #8492A6; }

/*======================================================================================================================


HEADER


======================================================================================================================*/
.fixed-header, .scrolling {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .fixed-header header, .scrolling header {
    border-bottom: 1px solid #EFF2F7;
    background-color: rgba(255, 255, 255, 0.95);
    height: 75px; }
    .fixed-header header .header-logo, .scrolling header .header-logo {
      width: 200px;
      padding-top: 20px;
      padding-bottom: 20px;
      float: left;
      -webkit-transition: 0.15s;
      -moz-transition: 0.15s;
      -ms-transition: 0.15s;
      -o-transition: 0.15s;
      transition: 0.15s; }
      .fixed-header header .header-logo img, .scrolling header .header-logo img {
        width: 100%;
        filter: blur(0);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s; }
        .fixed-header header .header-logo img:hover, .scrolling header .header-logo img:hover {
          -webkit-filter: blur(2.5px);
          -moz-filter: blur(2.5px);
          -ms-filter: blur(2.5px);
          -o-filter: blur(2.5px);
          filter: blur(2.5px); }
    .fixed-header header nav.main-navigation, .scrolling header nav.main-navigation {
      font-family: 'Avenir Next LT Pro Regular';
      text-transform: uppercase;
      display: table;
      float: right; }
      .fixed-header header nav.main-navigation ul, .scrolling header nav.main-navigation ul {
        float: right;
        padding-left: 0;
        margin-bottom: 0;
        line-height: 74px;
        -webkit-transition: 0.15s;
        -moz-transition: 0.15s;
        -ms-transition: 0.15s;
        -o-transition: 0.15s;
        transition: 0.15s; }
        .fixed-header header nav.main-navigation ul li, .scrolling header nav.main-navigation ul li {
          list-style: none;
          display: inline-block;
          position: relative; }
          .fixed-header header nav.main-navigation ul li a, .scrolling header nav.main-navigation ul li a {
            display: block;
            font-size: 12px;
            padding-left: 5px;
            padding-right: 5px;
            text-decoration: none;
            -webkit-transition: 0.15s;
            -moz-transition: 0.15s;
            -ms-transition: 0.15s;
            -o-transition: 0.15s;
            transition: 0.15s; }
            .fixed-header header nav.main-navigation ul li a:hover, .scrolling header nav.main-navigation ul li a:hover, .fixed-header header nav.main-navigation ul li a:focus, .scrolling header nav.main-navigation ul li a:focus {
              text-decoration: none;
              color: #003D51; }
            .fixed-header header nav.main-navigation ul li a:visited, .scrolling header nav.main-navigation ul li a:visited {
              text-decoration: none;
              color: #00a8c6; }
              .fixed-header header nav.main-navigation ul li a:visited:hover, .scrolling header nav.main-navigation ul li a:visited:hover, .fixed-header header nav.main-navigation ul li a:visited:focus, .scrolling header nav.main-navigation ul li a:visited:focus {
                text-decoration: none;
                color: #003D51; }
      .fixed-header header nav.main-navigation .menu-btn, .scrolling header nav.main-navigation .menu-btn {
        float: right;
        font-family: 'Avenir Next LT Pro Demi';
        text-transform: uppercase;
        position: relative;
        margin-left: 25px; }
        .fixed-header header nav.main-navigation .menu-btn a, .scrolling header nav.main-navigation .menu-btn a {
          color: #fff;
          background-color: #00a8c6;
          display: inline-block;
          line-height: 75px;
          padding-left: 25px;
          padding-right: 25px;
          margin-left: 50px;
          font-size: 12px;
          letter-spacing: 2px;
          text-decoration: none;
          -webkit-transition: 0.15s;
          -moz-transition: 0.15s;
          -ms-transition: 0.15s;
          -o-transition: 0.15s;
          transition: 0.15s; }
          .fixed-header header nav.main-navigation .menu-btn a:before, .scrolling header nav.main-navigation .menu-btn a:before {
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 75px solid #00a8c6;
            border-left: 50px solid transparent;
            -webkit-transition: 0.15s;
            -moz-transition: 0.15s;
            -ms-transition: 0.15s;
            -o-transition: 0.15s;
            transition: 0.15s; }
          .fixed-header header nav.main-navigation .menu-btn a:hover, .scrolling header nav.main-navigation .menu-btn a:hover {
            background-color: #003D51; }
            .fixed-header header nav.main-navigation .menu-btn a:hover:before, .scrolling header nav.main-navigation .menu-btn a:hover:before {
              border-bottom: 75px solid #003D51; }
          .fixed-header header nav.main-navigation .menu-btn a .menu-hex-btn, .scrolling header nav.main-navigation .menu-btn a .menu-hex-btn {
            position: absolute;
            width: 33px;
            height: auto;
            left: 10px;
            top: 17px; }
    .fixed-header header #openMobileNav, .scrolling header #openMobileNav {
      float: right;
      background-color: #00a8c6;
      height: 65px;
      -webkit-transition: 0.15s;
      -moz-transition: 0.15s;
      -ms-transition: 0.15s;
      -o-transition: 0.15s;
      transition: 0.15s; }
      .fixed-header header #openMobileNav:hover, .scrolling header #openMobileNav:hover, .fixed-header header #openMobileNav:focus, .scrolling header #openMobileNav:focus {
        background-color: #003D51; }
      .fixed-header header #openMobileNav:before, .scrolling header #openMobileNav:before {
        content: '';
        position: absolute;
        right: 74px;
        width: 0;
        height: 0;
        border-bottom: 65px solid #00a8c6;
        border-left: 50px solid transparent;
        -webkit-transition: 0.15s;
        -moz-transition: 0.15s;
        -ms-transition: 0.15s;
        -o-transition: 0.15s;
        transition: 0.15s; }
      .fixed-header header #openMobileNav:hover, .scrolling header #openMobileNav:hover, .fixed-header header #openMobileNav:focus, .scrolling header #openMobileNav:focus {
        background-color: #003D51; }
        .fixed-header header #openMobileNav:hover:before, .scrolling header #openMobileNav:hover:before, .fixed-header header #openMobileNav:focus:before, .scrolling header #openMobileNav:focus:before {
          border-bottom: 65px solid #003D51; }
      .fixed-header header #openMobileNav .hamburger, .scrolling header #openMobileNav .hamburger {
        width: 75px; }
        .fixed-header header #openMobileNav .hamburger .hamburger-divs, .scrolling header #openMobileNav .hamburger .hamburger-divs {
          width: 30px;
          padding-top: 20px;
          margin-left: auto;
          margin-right: auto; }
          .fixed-header header #openMobileNav .hamburger .hamburger-divs .hamburger-div, .scrolling header #openMobileNav .hamburger .hamburger-divs .hamburger-div {
            width: 100%;
            height: 3px;
            margin-bottom: 5px;
            background-color: #fff; }
    .fixed-header header nav.mobile-navigation, .scrolling header nav.mobile-navigation {
      font-family: 'Avenir Next LT Pro Regular';
      text-transform: capitalize;
      background-color: #1F2D3D;
      position: absolute;
      top: 0;
      right: -100%;
      z-index: 3;
      padding: 20px;
      width: 100%;
      height: 100vh;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s; }
      .fixed-header header nav.mobile-navigation .mobile-nav-header, .scrolling header nav.mobile-navigation .mobile-nav-header {
        display: table;
        width: 100%; }
        .fixed-header header nav.mobile-navigation .mobile-nav-header .mobile-nav-logo, .scrolling header nav.mobile-navigation .mobile-nav-header .mobile-nav-logo {
          float: left;
          width: 200px; }
          .fixed-header header nav.mobile-navigation .mobile-nav-header .mobile-nav-logo img, .scrolling header nav.mobile-navigation .mobile-nav-header .mobile-nav-logo img {
            width: 100%; }
        .fixed-header header nav.mobile-navigation .mobile-nav-header #closeMobileNav, .scrolling header nav.mobile-navigation .mobile-nav-header #closeMobileNav {
          float: right;
          color: #8492A6;
          font-size: 65px;
          line-height: 45px;
          cursor: pointer; }
      .fixed-header header nav.mobile-navigation ul, .scrolling header nav.mobile-navigation ul {
        list-style: none;
        padding-left: 0;
        padding-top: 50px; }
        .fixed-header header nav.mobile-navigation ul li, .scrolling header nav.mobile-navigation ul li {
          margin-bottom: 10px; }
          .fixed-header header nav.mobile-navigation ul li a, .scrolling header nav.mobile-navigation ul li a {
            display: block;
            text-decoration: none;
            color: #fff;
            font-size: 24px;
            -webkit-transition: 0.15s;
            -moz-transition: 0.15s;
            -ms-transition: 0.15s;
            -o-transition: 0.15s;
            transition: 0.15s; }
            .fixed-header header nav.mobile-navigation ul li a:hover, .scrolling header nav.mobile-navigation ul li a:hover {
              color: #D3DCE6; }
      .fixed-header header nav.mobile-navigation .mobile-nav-footer, .scrolling header nav.mobile-navigation .mobile-nav-footer {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px; }
        .fixed-header header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-links, .scrolling header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-links {
          display: block;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          line-height: 30px;
          color: #D3DCE6;
          position: relative;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -ms-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }
          .fixed-header header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-links .search-icon, .scrolling header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-links .search-icon {
            background-image: url(../img/search.png);
            padding-left: 18px;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            top: -1px; }
          .fixed-header header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-links .login-icon, .scrolling header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-links .login-icon {
            background-image: url(../img/login.png);
            padding-left: 18px;
            height: 12px;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            top: -2px; }
        .fixed-header header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-btn, .scrolling header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-btn {
          opacity: .75;
          -webkit-transition: 0.15s;
          -moz-transition: 0.15s;
          -ms-transition: 0.15s;
          -o-transition: 0.15s;
          transition: 0.15s;
          position: relative;
          width: 100%;
          height: 100%;
          max-width: 275px;
          display: block;
          margin-left: auto;
          margin-right: auto; }
          .fixed-header header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-btn img, .scrolling header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-btn img {
            max-width: 275px;
            width: 100%;
            opacity: .5;
            -webkit-transition: 0.15s;
            -moz-transition: 0.15s;
            -ms-transition: 0.15s;
            -o-transition: 0.15s;
            transition: 0.15s; }
          .fixed-header header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-btn:after, .scrolling header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-btn:after {
            content: 'Request a demo';
            font-family: 'Avenir Next LT Pro Regular';
            text-transform: uppercase;
            color: #00a8c6;
            font-size: 12px;
            letter-spacing: 1px;
            display: block;
            position: absolute;
            top: 43%;
            left: 20%;
            width: 100%;
            height: 100%; }
        .fixed-header header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-links:nth-child(2), .scrolling header nav.mobile-navigation .mobile-nav-footer a.mobile-nav-footer-links:nth-child(2) {
          margin-bottom: 10px; }

.quick-nav {
  position: relative;
  display: table;
  width: 100%; }
  .quick-nav ul {
    display: table;
    width: 100%;
    padding-left: 0;
    margin: 0; }
    .quick-nav ul li {
      list-style: none;
      display: inline-block;
      float: left;
      display: block; }
      .quick-nav ul li a.header-search {
        font-family: 'Avenir Next LT Pro Regular';
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        line-height: 30px;
        margin-left: 15px;
        padding-right: 15px;
        padding-left: 15px;
        background-color: #EFF2F7;
        position: relative;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s; }
        .quick-nav ul li a.header-search:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-top: 30px solid #EFF2F7;
          border-left: 15px solid transparent;
          left: -14.5px;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -ms-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }
        .quick-nav ul li a.header-search:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-top: 30px solid #D3DCE6;
          border-left: 15px solid transparent;
          right: -14px;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -ms-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }
        .quick-nav ul li a.header-search:hover, .quick-nav ul li a.header-search:focus {
          text-decoration: none;
          color: #003D51; }
        .quick-nav ul li a.header-search:visited {
          text-decoration: none;
          color: #00a8c6; }
          .quick-nav ul li a.header-search:visited:hover, .quick-nav ul li a.header-search:visited:focus {
            text-decoration: none;
            color: #003D51; }
        .quick-nav ul li a.header-search .search-icon {
          background-image: url(../img/search.png);
          padding-left: 18px;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative;
          top: -1px; }
      .quick-nav ul li a.header-login {
        font-family: 'Avenir Next LT Pro Regular';
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        line-height: 30px;
        margin-left: 15px;
        padding-right: 15px;
        padding-left: 15px;
        background-color: #EFF2F7;
        position: relative;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s; }
        .quick-nav ul li a.header-login:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-top: 30px solid #EFF2F7;
          border-left: 15px solid transparent;
          left: -14px;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -ms-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }
        .quick-nav ul li a.header-login:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-bottom: 30px solid #EFF2F7;
          border-right: 15px solid transparent;
          left: -15px;
          top: 0;
          -webkit-transition: 0.25s;
          -moz-transition: 0.25s;
          -ms-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }
        .quick-nav ul li a.header-login:hover, .quick-nav ul li a.header-login:focus {
          text-decoration: none;
          color: #003D51; }
        .quick-nav ul li a.header-login:visited {
          text-decoration: none;
          color: #00a8c6; }
          .quick-nav ul li a.header-login:visited:hover, .quick-nav ul li a.header-login:visited:focus {
            text-decoration: none;
            color: #003D51; }
        .quick-nav ul li a.header-login .login-icon {
          background-image: url(../img/login.png);
          padding-left: 16px;
          margin-left: 7px;
          height: 12px;
          float: right;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative;
          top: 7px; }

.scrolling header {
  height: 65px; }
  .scrolling header .header-logo {
    width: 150px; }
  .scrolling header nav.main-navigation ul {
    line-height: 65px; }
  .scrolling header nav.main-navigation .menu-btn a {
    line-height: 65px; }
    .scrolling header nav.main-navigation .menu-btn a:before {
      border-bottom: 65px solid #00a8c6; }
    .scrolling header nav.main-navigation .menu-btn a:hover {
      background-color: #003D51; }
      .scrolling header nav.main-navigation .menu-btn a:hover:before {
        border-bottom: 65px solid #003D51; }
.scrolling .quick-nav {
  top: -2px; }

/*======================================================================================================================


Home Hero Area


======================================================================================================================*/
.hero-area {
  display: table;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 130px;
  margin-bottom: 25px;
  background-image: url(../img/hero-bg.png);
  background-size: contain;
  background-position: 83%;
  background-repeat: no-repeat; }
  .hero-area .hero-img {
    text-align: center; }
    .hero-area .hero-img img {
      width: 300px; }
  .hero-area .hero-btn {
    font-family: 'Avenir Next LT Pro Demi';
    text-transform: uppercase;
    position: relative;
    clear: both; }
    .hero-area .hero-btn a {
      color: #fff;
      background-color: #F98D29;
      display: inline-block;
      line-height: 75px;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 16px;
      letter-spacing: 2px;
      text-decoration: none;
      -webkit-transition: 0.25s;
      -moz-transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s; }
      .hero-area .hero-btn a:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 25px;
        border-top: 75px solid #F98D29;
        border-right: 50px solid transparent;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s; }
      .hero-area .hero-btn a:hover {
        background-color: #77BC1F; }
        .hero-area .hero-btn a:hover:after {
          border-top: 75px solid #77BC1F; }

.hp-content .hp-cta-left, .hp-content .hp-cta-right {
  padding: 0 5px 10px 10px; }
  .hp-content .hp-cta-left .hp-callout, .hp-content .hp-cta-right .hp-callout {
    background-image: url(../img/home-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 100px 25px 25px;
    position: relative; }
    .hp-content .hp-cta-left .hp-callout:before, .hp-content .hp-cta-right .hp-callout:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #003D51;
      opacity: .75; }
    .hp-content .hp-cta-left .hp-callout h2, .hp-content .hp-cta-right .hp-callout h2 {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: inherit;
      font-family: 'Merriweather', serif;
      color: #EFF2F7;
      text-transform: none;
      position: relative; }
    .hp-content .hp-cta-left .hp-callout .hp-callout-link, .hp-content .hp-cta-right .hp-callout .hp-callout-link {
      font-family: 'Avenir Next LT Pro Demi';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px; }
      .hp-content .hp-cta-left .hp-callout .hp-callout-link a, .hp-content .hp-cta-right .hp-callout .hp-callout-link a {
        padding-left: 40px;
        padding-bottom: 5px;
        padding-top: 6px;
        position: relative;
        cursor: pointer;
        background-image: url(../img/orange-hex-btn.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left; }
.hp-content .hp-cta-right {
  padding: 0 10px 10px 5px; }

/*======================================================================================================================


List Page Template


======================================================================================================================*/
.list-page-hero {
  margin-top: 75px;
  background-color: #77BC1F; }
  .list-page-hero .list-page-hero-bg {
    position: relative;
    overflow: hidden;
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: 70% 75px;
    background-size: 600px;
    background-attachment: fixed; }
    .list-page-hero .list-page-hero-bg .list-page-hero-content {
      padding-top: 75px;
      padding-bottom: 75px;
      margin-bottom: 0;
      max-width: 850px; }
    .list-page-hero .list-page-hero-bg h1, .list-page-hero .list-page-hero-bg h2, .list-page-hero .list-page-hero-bg h3, .list-page-hero .list-page-hero-bg h4, .list-page-hero .list-page-hero-bg h5, .list-page-hero .list-page-hero-bg h6, .list-page-hero .list-page-hero-bg p {
      color: #fff; }

.list-content {
  height: 500px;
  position: relative; }
  .list-content .list-col {
    height: 100%;
    padding-top: 25px; }
    .list-content .list-col .table td, .list-content .list-col .table th {
      border-bottom: 1px solid #eceeef;
      border-top: 0; }
  .list-content .list-col.list-side-bar {
    background-color: #EFF2F7;
    padding-top: 25px; }
    .list-content .list-col.list-side-bar .list-side-bar-items {
      list-style: none; }
      .list-content .list-col.list-side-bar .list-side-bar-items h3 {
        font-family: 'Merriweather', serif;
        font-size: 14px;
        line-height: 24px;
        text-transform: capitalize;
        color: #8492A6;
        letter-spacing: inherit;
        font-weight: 800; }

/*======================================================================================================================


TWO COLUMN PAGE


======================================================================================================================*/
.two-col-page-hero {
  margin-top: 75px;
  background-color: #00a8c6;
  background-image: url(../img/hero-bg-2.png);
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: 50px 150px;
  background-attachment: fixed; }
  .two-col-page-hero .left-col {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    display: table; }
    .two-col-page-hero .left-col h1 {
      color: #fff; }
    .two-col-page-hero .left-col p {
      color: #fff;
      max-width: 450px; }
    .two-col-page-hero .left-col:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 507px solid #fff;
      border-left: 300px solid transparent; }
  .two-col-page-hero .right-col {
    background-color: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    display: table; }
    .two-col-page-hero .right-col:after {
      content: '';
      position: absolute;
      top: 0;
      right: -1500px;
      width: 1500px;
      height: 507px;
      background-color: #fff; }
    .two-col-page-hero .right-col .tel-link {
      padding-bottom: 30px; }
      .two-col-page-hero .right-col .tel-link a {
        font-family: 'Avenir Next LT Pro Regular', sans-serif;
        padding-left: 40px;
        margin-left: 60px;
        background-image: url(../img/phone.png);
        background-position: left 25%;
        background-size: 25px;
        background-repeat: no-repeat;
        color: #1F2D3D;
        letter-spacing: 1px;
        font-size: 32px; }
      .two-col-page-hero .right-col .tel-link p {
        padding-left: 100px; }

.two-col-callout {
  background-color: #EFF2F7;
  padding-top: 50px;
  padding-bottom: 50px; }
  .two-col-callout p {
    margin: 0;
    text-align: center;
    color: #1F2D3D; }
    .two-col-callout p img {
      width: 50px;
      margin-right: 15px; }

/*======================================================================================================================


Default Page Template


======================================================================================================================*/
.default-page-hero {
  margin-top: 75px;
  background-color: #00a8c6; }
  .default-page-hero .default-page-hero-bg {
    position: relative;
    overflow: hidden;
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: 70% 75px;
    background-size: 600px;
    background-attachment: fixed; }
    .default-page-hero .default-page-hero-bg .default-page-hero-content {
      padding-top: 75px;
      padding-bottom: 75px;
      margin-bottom: 0;
      max-width: 850px; }
    .default-page-hero .default-page-hero-bg h1, .default-page-hero .default-page-hero-bg h2, .default-page-hero .default-page-hero-bg h3, .default-page-hero .default-page-hero-bg h4, .default-page-hero .default-page-hero-bg h5, .default-page-hero .default-page-hero-bg h6, .default-page-hero .default-page-hero-bg p {
      color: #fff; }

.default-page-content {
  padding-top: 75px;
  padding-bottom: 75px; }

.default-page-cta {
  background-color: #EFF2F7;
  padding-top: 50px;
  padding-bottom: 50px; }
  .default-page-cta .lead-text p {
    font-family: 'Avenir Next LT Pro Demi', sans-serif;
    color: #b0d23e;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px; }
  .default-page-cta p {
    color: #1F2D3D; }
  .default-page-cta .default-page-cta-btn a {
    font-family: 'Avenir Next LT Pro Regular', sans-serif;
    display: block;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #F98D29;
    color: #fff;
    padding: 15px 0 11px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s; }
    .default-page-cta .default-page-cta-btn a:hover {
      background-color: #77BC1F; }

/*======================================================================================================================


Full Page Template


======================================================================================================================*/
.full-page-hero {
  margin-top: 75px;
  background-color: #EFF2F7; }
  .full-page-hero .full-page-hero-bg {
    position: relative;
    overflow: hidden;
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: 70% 75px;
    background-size: 600px;
    background-attachment: fixed; }
    .full-page-hero .full-page-hero-bg .full-page-hero-content {
      margin-bottom: 0;
      color: #1F2D3D;
      max-width: 850px;
      padding-top: 75px;
      padding-bottom: 75px; }
    .full-page-hero .full-page-hero-bg h1, .full-page-hero .full-page-hero-bg h2, .full-page-hero .full-page-hero-bg h3, .full-page-hero .full-page-hero-bg h4, .full-page-hero .full-page-hero-bg h5, .full-page-hero .full-page-hero-bg h6 {
      color: #1F2D3D; }
    .full-page-hero .full-page-hero-bg p {
      color: #8492A6; }

.full-page-content .full-page-left-col {
  padding-top: 75px;
  padding-bottom: 75px; }
.full-page-content .full-page-right-col {
  position: relative; }
  .full-page-content .full-page-right-col:after {
    content: '';
    background-image: url(../img/left.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat; }

.full-page-callout {
  background-color: #EFF2F7;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: 70% 75px;
  background-size: 600px;
  background-attachment: fixed; }
  .full-page-callout .callout p, .full-page-callout .single-callout p {
    margin: 0;
    text-align: center;
    color: #1F2D3D; }
    .full-page-callout .callout p img, .full-page-callout .single-callout p img {
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; }
  .full-page-callout .single-callout p {
    margin-bottom: 50px; }

/*======================================================================================================================


FOOTER


======================================================================================================================*/
.main-footer {
  padding-top: 75px;
  padding-bottom: 0;
  background-color: #1F2D3D; }
  .main-footer .footer-cols {
    display: table;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #3C4858; }
    .main-footer .footer-cols .footer-col img.footer-logo {
      max-width: 150px;
      margin-bottom: 10px; }
    .main-footer .footer-cols .footer-col p {
      font-size: 14px;
      color: #8492A6; }
    .main-footer .footer-cols .footer-col ul {
      list-style: none;
      padding-left: 0; }
      .main-footer .footer-cols .footer-col ul li a {
        font-family: 'Avenir Next LT Pro Regular';
        text-transform: uppercase;
        color: #8492A6;
        font-size: 12px;
        letter-spacing: 1px; }
      .main-footer .footer-cols .footer-col ul li a[href*="tel"] {
        font-family: 'Avenir Next LT Pro Regular';
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        color: #EFF2F7; }
    .main-footer .footer-cols .footer-col a.footer-btn {
      opacity: .75;
      -webkit-transition: 0.15s;
      -moz-transition: 0.15s;
      -ms-transition: 0.15s;
      -o-transition: 0.15s;
      transition: 0.15s;
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .main-footer .footer-cols .footer-col a.footer-btn img {
        max-width: 300px;
        width: 100%;
        opacity: .5;
        -webkit-transition: 0.15s;
        -moz-transition: 0.15s;
        -ms-transition: 0.15s;
        -o-transition: 0.15s;
        transition: 0.15s; }
      .main-footer .footer-cols .footer-col a.footer-btn:after {
        content: 'Request a demo';
        font-family: 'Avenir Next LT Pro Regular';
        text-transform: uppercase;
        color: #F98D29;
        font-size: 12px;
        letter-spacing: 1px;
        display: block;
        position: absolute;
        top: 43%;
        left: 38%;
        width: 100%;
        height: 100%; }
      .main-footer .footer-cols .footer-col a.footer-btn:hover {
        opacity: 1; }
        .main-footer .footer-cols .footer-col a.footer-btn:hover img {
          opacity: 1; }
  .main-footer .footer-copy {
    padding-top: 15px;
    padding-bottom: 15px; }
    .main-footer .footer-copy .copyright p {
      margin: 0;
      font-size: 12px;
      line-height: 25px; }
    .main-footer .footer-copy .social-icons {
      padding-bottom: 15px; }
      .main-footer .footer-copy .social-icons .social-icon {
        text-align: right; }
        .main-footer .footer-copy .social-icons .social-icon a img {
          opacity: .75;
          -webkit-transition: 0.15s;
          -moz-transition: 0.15s;
          -ms-transition: 0.15s;
          -o-transition: 0.15s;
          transition: 0.15s; }
          .main-footer .footer-copy .social-icons .social-icon a img:hover {
            opacity: 1; }

/*======================================================================================================================


MOBILE


======================================================================================================================*/
@media (max-width: 1199px) {
  .container {
    max-width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0; }

  header .header-logo img {
    margin-left: 30px; }

  .two-col-page-hero .left-col p {
    max-width: 375px; }

  .two-col-page-hero .left-col {
    padding-left: 50px; } }
@media (max-width: 991px) {
  .fixed-header header, .scrolling header {
    height: 65px; }

  .fixed-header header .header-logo, .scrolling header .header-logo {
    width: 150px; }

  .hp-content .hp-cta-left .hp-callout, .hp-content .hp-cta-right .hp-callout {
    padding-top: 40px; }

  .hp-content .hp-cta-left, .hp-content .hp-cta-right {
    padding: 10px;
    padding-top: 0; }

  .footer-col:last-child {
    margin-top: 25px; }

  .list-page-hero, .two-col-page-hero, .full-page-hero, .hero-area {
    margin-top: 65px; }

  .left-col:after, .right-col:after, .full-page-right-col:after {
    display: none; }

  .full-page-right-col img {
    object-fit: cover;
    height: 300px;
    object-position: center bottom; } }
@media (max-width: 767px) {
  .hero-area .hero-img img {
    width: 175px;
    margin-bottom: 25px; }

  .two-col-callout p img, .full-page-callout p img {
    width: 100px;
    margin-right: 0;
    margin-bottom: 20px; }

  .full-page-callout .callout, .full-page-callout .single-callout {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%; }

  .full-page-callout .callout:nth-child(1), .full-page-callout .single-callout:nth-child(1) {
    padding-bottom: 50px; } }
@media (max-width: 414px) {
  h1 {
    font-size: 28px; }

  h2 {
    font-size: 24px; }

  h3 {
    font-size: 20px; }

  h4 {
    font-size: 16px; }

  .two-col-page-hero .right-col .tel-link a {
    font-size: 22px;
    background-size: 20px; }

  .two-col-callout p img, .full-page-callout p img {
    width: 50px;
    margin-left: auto;
    margin-right: auto; } }
@media (max-width: 767px) {
  .main-footer .footer-cols .footer-col a.footer-btn {
    margin-left: 0; } }
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

/*# sourceMappingURL=main.css.map */
