// Colors

$blue:#003D51;
$light-blue:#00a8c6;
$green:#77BC1F;
$light-green:#b0d23e;
$orange:#F98D29;

// Grays

$black:#000;
$darker-gray:#1F2D3D;
$dark-gray:#3C4858;
$gray:#8492A6;
$light-gray:#D3DCE6;
$lighter-gray:#EFF2F7;
$white:#fff;